.header__navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 75px;
}

.header__icon {
    margin: 2em;
}
  
.header__menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3.125rem;
}
  
.header__menu-content {
    width: 260px;
}

.header .menu-icon {
    display: none;
}

.header_closed .menu-icon {
    display: initial;
}

.header_closed .close-icon {
    display: none;
}

.header_closed .header__menu {
    display: none;
}
